:root {
  --primary-color: #15a1ba;
  --primary-color-dark: #021215;
  --primary-color-light: #128fa6;
  --secondary-color-light: #107d91;
  --tertiary-color: #0e6b7c;
  --tertiary-color-dark: #0c5a68;
  --tertiary-color-light: #094853;
  --quaternary-color: #07363e;
  --quaternary-color-dark: #052429;
  --quaternary-color-light: #094853;
  --quinary-color: #ffffff;
  --senary-color: #8bd9e7;
  --senary-color-dark: #a2e1ec;
  --senary-color-light: #74d1e2;
  --septenary-color: #5dcadd;
  --septenary-color-dark: #45c2d9;
  --septenary-color-light: #2ebbd4;
}
form {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

.form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
}

p {
  color: #bf1650;
}

p::before {
  display: inline;
  content: '⚠ ';
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

button[type='submit']:active,
input[type='button']:active,
input[type='submit']:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type='button']:hover {
  transition: 0.3s all;
}

/* .App {
  max-width: 600px;
  margin: 0 auto;
} */

/* button[type="button"] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
} */

hr {
  margin-top: 30px;
}
/* 
button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
} */
.navbar {
  padding-top: 0 !important;
}
