.header__title {
  background-color: #e3fc04b2;
  padding: 0.8rem;

  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
