.header__title {
  background-color: #094853;
  padding: 0.8rem;
  display: flex;
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
