.header__title {
  background-color: #76b5c5;
  padding: 0.8rem;
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
