.btn {
  background: #094853 !important;
  color: white;
  border: none;
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  text-transform: uppercase;
  border-radius: 2px;
  margin-top: 10%;
  appearance: none;
  text-transform: uppercase;
}

button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}
